#box {
  background: white;
  padding: 50px;
  margin: 10x;
  border-style: solid;
  border-color: gray;
  justify-content: center;
}

.pic {
  width: 150px;
  left: 0;
  position: relative;
}

.signin {
  display: block;
  margin-left: auto;
   margin-right: auto;"
}

.card-title {
font-size: 25px
}

.card{
    display: block; margin-left: auto; margin-right: auto;
}